body {
    font-family: Arial;
    text-align: center;
    margin-left: auto;
	margin-right: auto;
    background: #55D6BE;
    width: 1000px;
}


.texto {
    background-color: #ACFCD9;
    font-family: "Times New Roman", Georgia, Serif;
    font-weight: bolder;
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
    padding: 5px 30px;
    line-height: 1.5em;
    margin-bottom: .5em;
}

.texto2 {
    background-color: #ACFCD9;
    font-family: "Times New Roman", Georgia, Serif;
    font-weight: bolder;
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
    padding: 5px 30px;
    line-height: 1.5em;
    margin-bottom: .5em;
}



